.github
.pytest_cache
docker
# vps_download
.dockerignore
.editorconfig
.gitignore
app_key.txt
docker-compose.yaml
Makefile
poetry.lock
prod.env
pylama.ini
pyproject.toml
README.md
# requirements.txt
