name: Pylama Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  PROJECT_NAME: vps_download

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install Pylama
        run: |
          python -m pip install pylama

      - name: Install Requirements
        run: |
          python -m pip install -r requirements.txt

      - name: Run Lint
        run: |
          pylama ${{ env.PROJECT_NAME }}
